body{
    font-family: "sans-serif";
    font-size: 18px;
    background-color: rgba(228, 228, 228, 0.699);
}

nav{
    box-shadow: 0px 2px #D8D8D8;
}


nav .active{
    border-style: solid;
    border-color: rgb(52,163,218);
    border-width: 0px 0px 4px 0px;
}

.navbar-brand img{
    max-height: 50px;
}

#main-container{
    margin-top:     15px;
    padding-top:    25px;
    padding-bottom: 25px;
    border-style:   solid;
    border-color: #D8D8D8;
    border-width:   0px 2px 2px 2px;
}

.jumbotron{
    background-image: url('../image/jumbotron.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(126, 123, 123, 0.671);
}

.footer{
    padding-top:    20px;
    padding-bottom: 20px;
}

#profile-picture{
    max-width: 365px;
}

.card{
    margin-bottom: 15px;
}

.card ul{
    margin-bottom: 0;
}

.card-header1{
    background-color: white;
}

.card-header{
    background-image: url('../image/jumbotron.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(126, 123, 123, 0.671);
}

.hr {
    margin-top:    20px;
    margin-bottom: 20px;
    border:        0;
    border-top:    1px solid rgba(0, 0, 0, 0.2);
}

.carousel{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    box-shadow: 5px 5px 25px grey;
    margin-top:    10px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon
{
    background-color: rgb(41, 41, 41);
    height: 50px;
    width:  50px;
}

.carousel-control-next-icon
{
    background-color: rgb(41, 41, 41);
    height: 50px;
    width:  50px;
}

.carousel-indicators li {
    background-color: rgb(165, 165, 165);
    width:  35px;
    height: 7px;
}


.carousel-indicators .active {
    background-color: rgb(41, 41, 41);
}
  

.profile-work-corousal img{
    height: 400px;
    width: 100%;
    object-fit: contain;
    background: rgb(100, 98, 98);
}

.card-title-logo{
    height: 50px;
    width:  50px;
    margin-right: 5px;
}

.navbar-toggler{
    padding-top:  7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 198, 198);
    border-radius: 5px;
}