html
  head
    title Portfolio
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  
  body
    #nav
    #main-container.container.bg-white
      main
        #main

    footer.footer
      .container
        .row
          .col-sm-4.mb-2
            span.d-block
              h5 Social Media
            span.d-block
              i.fab.fa-linkedin.fa-fw
              = ' '
              a(href='https://www.linkedin.com/in/thanh-huynh-99753673/', target="_blank") LinkedIn
            span.d-block
              i.fab.fa-github.fa-fw
              = ' '
              a(href='https://github.com/huthanh89', target="_blank") GitHub
          .col-sm-4.mb-2
            span.d-block
              h5 Call or Text
            span.d-block
              i.fas.fa-mobile-alt.fa-fw
              = ' '
              span (408) 841-1825
          .col-sm-4.mb-2
            span.d-block
              h5 Email
            span.d-block
              i.far.fa-envelope.fa-fw
              = ' '
              span hu.thanh89@yahoo.com
    // Modal
    #contactModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h3#exampleModalLabel.modal-title Contact
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-sm-12
                p
                  b.d-block Call or Text
                  span.d-block
                  i.fas.fa-mobile-alt.fa-fw
                  = ' '
                  span (408) 841-1825
            .row
              .col-sm-12
                p
                  b.d-block Email
                  span.d-block
                  i.far.fa-envelope.fa-fw
                  = ' '
                  span hu.thanh89@yahoo.com
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    script(src='bundle.js')
